.weather-app {
    position: relative;
    height: 100vh;
  }
  
  .search-bar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 20px;
  }

  .suggestions {
    position: absolute;
    top: calc(10% + 10px);
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    font-size: 16px;

    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .suggestion {
    padding: 10px;
    cursor: pointer;
  }
  
  .suggestion:hover {
    background-color: #f0f0f0; 
  }
  
  .home-button {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1; 
  }
  
  .home-button:hover {
    background-color: #45a049;
  }
  
  .weather-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px; 
    max-width: 90%;
  }
  
  .weather-info h2 {
    margin-bottom: 10px;
    font-size: 24px;
  }
  
  .weather-info p {
    margin: 5px 0;
  }
  
  @media (max-width: 600px) {
    .search-bar {
      width: calc(100% - 40px); 
      top: 70px; 
      left: 50%; 
      transform: translateX(-50%);
    }
    .suggestions {
        top: calc(15% + 10px);
    }
  }
